################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microservice/.vs/Microservice/config
/Microservice/.vs/Microservice
/Microservice/bin/Debug/net8.0
/Microservice/obj
