<!-- src/app/components/login/login.component.html -->
<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>

<p>it is working</p>
