<!-- <div class="search-row">
	<mat-form-field class="search-input">
		<input
			matInput
			type="text"
			placeholder="Search by Title"
			[ngModel]="searchTerm"
			(input)="onInputChanged($event)"
		/>

		<button
			*ngIf="searchTerm; else searchButton"
			matSuffix
			mat-icon-button
			(click)="onInputResetClicked()">
			<mat-icon>close</mat-icon>
		</button>

		<ng-template #searchButton>
			<mat-icon matSuffix>search</mat-icon>
		</ng-template>
	</mat-form-field>
</div> -->
	 <!-- <mat-form-field class="genres-select">
		<mat-select
			multiple
			placeholder="Select Genre"
			[value]="selectedGenres"
			(selectionChange)="onGenreSelectionChanged($event)">
			<mat-option
				class="clear-all"
				*ngIf="selectedGenres.length > 0"
				[value]="null"
				>Clear All</mat-option
			>
			<mat-option *ngFor="let option of genreOptions" [value]="option">
				{{ option }}
			</mat-option>
		</mat-select>
	</mat-form-field>  -->

<P>this movie is working test it ...............</P>
<!-- <app-movie-list
	[movies]="displayedMovies"
	(selectMovie)="onMovieSelection($event)">
</app-movie-list> -->